*.pyc
*.o
*.a
*.swp
*.dot
*.out
*.out.*
*grindout.xml
*.patch
*.orig
*.check
mogu.conf
docs/html
cli/c/clihash
cli/c/clidec
mogu-server
resources/mogu/*
Debug/*
Testing/*
syntax/syntax.py
cli/src/moguio/moguio/syntax.py
