run
*.a
*.check
build
build/*
log
log/*
cli/c/clidec
cli/c/clihash
cli/src/moguio/moguio/syntax.py
Debug/*
docs/html
*.dot
*grindout.xml
mogu-server
*.o
*.orig
*.out
*.out.*
*.patch
*.pyc
resources/mogu/*
src/Types/syntax.h
*.swp
syntax/syntax.h
syntax/syntax.py
syntax/operators
syntax/max
Testing/*
.idea*
tests/*
